.bgc {
  height: calc(100vh - 130px);
  width: 100%;
  margin: 0 auto;
  //position: relative;
  img {
    width: 100%;
  position: relative;
  }
}

.btn {
  display: block;
  padding: 6px 26px;
  border: 4px solid;
  border-radius: 26px;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 16%;
  text-decoration: none;
}