.bgc {
  height: calc(100vh - 130px);
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.btn {
  padding-bottom: 5px;
  border-bottom: 4px solid;
  color: white;
  font-size: 30px;
  position: absolute;
  margin-top: 40%;
  margin-left: 10%;
  text-decoration: none;
}